<main class="checkoutMain">
    <div class="checkoutFlex">
        <h1>Checkout</h1>
        <p>Tu compra fue realizada con exito. Muchas gracias <span class="profileFullName">{{client}}</span>.</p>
        <p>Este es tu numero de orden <span class="checkoutNumTicket"> {{numTicket}} </span></p>
        <p>Toda la informacion sera enviada a: <span class="checkoutNumTicket"> {{email}} </span></p>
        <p>Ir a <a class="registerLogin" href="/api/users/profile">Mi Perfil</a></p>
        <p>Volver a la <a class="registerLogin" href="/products">Tienda</a></p>
    </div>
</main>