<main class="loginMain">
    <section class="loginSection">
        <h2 class="loginh2">Iniciar Sesion</h2>
        <form action="/api/users/login" method="POST">
            <div class="loginEmail">
                <label for="email">Email</label>
                <input placeholder="email@ejemplo.com" type="email" id="email" name="email" required>
            </div>
            <div class="loginPassword">
                <label for="password">Password</label>
                <input placeholder="password" type="password" id="password" name="password" required>
            </div>
            <div class="loginDivBtn">
                <button type="submit" class="loginBtn">Login</button>
            </div>
        </form>
        <p class="loginNotAccount">¿No tenes cuenta? <a class="loginRegister" href="/register">Registrate</a></p>
    </section>
</main>