<h2>Solicitar reestablecimiento de password</h2>

<form action="/api/users/requestPasswordReset" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required>
    <button type="submit">Solicitar</button>
</form>

{{#if error}}
    <p> {{error}} </p>
{{/if}}