<main class="registerMain">
    <section class="registerSection">
        <h2 class="registerh2">Reestablecimiento de Password</h2>
        <form action="/api/users/requestPasswordReset" method="POST">
            <div class="registerNombre">
                <label class="restoreEmail" for="email">Email:</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div class="registerBtnDiv">
                <button class="registerBtn" type="submit">Solicitar</button>
            </div>
        </form>

        <p class="registerNotAccount">Recordaste tu password? <a class="registerLogin" href="/login">Iniciar Sesion</a></p>

        {{#if error}}
        <p> {{error}} </p>
        {{/if}}
    </section>
</main>