<main class="profileMain">
  <section class="profileSection">
    <h2 class="profileh2">Perfil</h2>
    <p class="profileP">Bienvenido, <span class="profileFullName">{{user.nombre}} {{user.apellido}}!</span></p>
    <p class="profileP">Rol: <span class="profileSpanRol">{{user.role}}</span></p>

    {{#if this.isAdmin}}
    <p class="profileP">Acceso al <a class="profileA" href="/realtimeproducts">Modificador de Productos</a></p>
    {{else}}
    <p class="profileP">Ir a ver la <a class="profileA" href="/products">Tienda</a></p>
    <p class="profileP">¡Accede a un <a class="profileA" href="/chat">Chat en vivo</a> exclusivo para clientes!</p>
    {{/if}}

    <form action="/api/users/logout" method="POST">
      <button class="profileLogout" type="submit">Logout</button>
    </form>
  </section>
</main>