<h2 class="realh2">Productos actualizados en tiempo real</h2>
<h4 id="role">{{role}}</h4>
<h4 id="email">{{email}}</h4>

<div id="contenedorProductos"></div>

<h3 class="realh2">Formulario para agregar productos</h3>

<section class="realSection">
    <form class="realFormFlex">
        <input class="realInputs" type="text" id="title" placeholder="Title">
        <input class="realInputs" type="text" id="description" placeholder="Description">
        <input class="realInputs" type="number" id="price" placeholder="Price">
        <input class="realInputs" type="text" id="img" value="Sin Imagen">
        <input class="realInputs" type="text" id="code" placeholder="Code">
        <input class="realInputs" type="number" id="stock" placeholder="Stock">
        <input class="realInputs" type="text" id="category" placeholder="Category">
        <select id="status">
            <option value="true"> Activo </option>
            <option value="false"> Inactivo </option>
        </select>
        <button class="cartsFinalizar" type="button" id="btnEnviar">Crear Producto</button>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtime.js"></script>