<main class="registerMain">
    <section class="registerSection">
        <h2 class="registerh2">Registro</h2>
        <form action="/api/users/register" method="post">
            <div class="registerNombre">
                <label for="first_name">Nombre</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="registerApellido">
                <label for="last_name">Apellido</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="registerEmail">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="registerPassword">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="registerEdad">
                <label for="age">Edad</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="registerBtnDiv">
                <button class="registerBtn" type="submit">Register</button>
            </div>
        </form>
        <p class="registerNotAccount">¿Ya tenes cuenta? <a class="registerLogin" href="/login">Inicia Sesion</a></p>
    </section>
</main>